{% extends "layout.html" %}

{% block content %}
<ul class="post-list">
{% for post in posts[:7] %}
    <li>
        <article>
            <h2><a href="{{ post_url(post) }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime("%B %-d, %Y") }}</time>
            <div class="intro prose">
            {% if post.intro %}
                {{ post.intro|safe }}
                <p><a href="{{ post_url(post) }}">Read more &raquo;</a></p>
            {% else %}
                {{ post.html|safe }}
            {% endif %}
            </div>
        </article>
    </li>
{% endfor %}
</ul>
<p><a href="{{ url_for('blog') }}">All posts &raquo;</a></p>
{% endblock %}
