{% extends "layout.html" %}

{% block banner %}
<h2>{{ post.title }}</h2>
<h5>{{ post.date.strftime("%A, %B %e, %Y") }}</h5>
{% endblock %}

{% block content %}
<div class="content">
    {{ post.html|safe }}
</div>
<p>Like what you see? Join me for live training! See the <a href="https://www.practisec.com/training/">Training</a> page for more information.</p>
<hr>
<div class="comments">
    <h6>Please share your thoughts, comments, and suggestions via Twitter.</h6>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.author.twitter }}">Tweet</a>
    <a href="http://twitter.com/{{ site.author.meta.twitter.username }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.author.meta.twitter.username }}</a>
    <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
{% endblock %}
