{% extends "page.html" %}
{% set title = 'Categories' %}
{% block html %}
<ul class="tags">
{% for category in categories|sort %}
    <li><a href="#{{ category }}-ref">{{ category }} <span>{{ categories[category]|length }}</span></a></li>
{% endfor %}
</ul>
{% for category in categories|sort %}
<h2 id="{{ category }}-ref">{{ category }}</h2>
<ul>
{% for post in categories[category] %}
    <li><a href="{{ post_url(post) }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}
