{% extends "page.html" %}
{% set title = 'RESTmail' %}
{% block html %}
    <style>
input {
    margin: 5px;
}
input, button {
    vertical-align: middle;
}
iframe {
    height: 200px;
}
.center-content {
    text-align: center;
}
    </style>
    <script src="/react/react.min.js"></script>
    <script src="/react/react-dom.min.js"></script>
    <script src="/react/browser.min.js"></script>
    <script src="/react/axios.min.js"></script>
    <script type="text/babel" src="/react/messages.js"></script>
    <div>
        <p>This is a React driven web interface for the
        <a href="http://restmail.net/">restmail.net</a> API. Restmail.net is a
        RESTful web service for quickly recieving mail at arbitrary email addresses.
        To use this interface, have mail sent to any &lt;username&gt;@restmail.net
        email address. Then, use the username in the form below to view and delete
        the mail.</p>
        <p>CORS is currently not available for the restmail.net API. Therefore, in
        order to use this inferface, use a proxy (i.e. Burp) to add the following
        headers to all responses and access this page through the proxy.</p>
        <pre><code>Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: GET, DELETE</code></pre>
    </div>
    <div id="react-container"></div>
{% endblock %}
